<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.cdnfonts.com/css/open-sans">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/app.css">

</head>
<body>
<nav>
    <div class="logo">
        <a href="">
            <i class="fas fa-store"></i>
            OnlineStore
        </a>
    </div>
    <ul class="navbar">
        <li>
            <a href="#home">Home</a>
        </li>
        <li>
            <a href="#products">Products</a>
        </li>
        <li>
            <a href="#services">Services</a>
        </li>
        <li>
            <a href="#about-us">About Us</a>
        </li>
        <li>
            <a href="#contact">Contact</a>
        </li>
    </ul>
    <div class="icons">
        <div class="icon-container">
            <a href="" class="fas fa-heart icon"></a>
            <div class="tooltip">
                <p>
                    Sectiunea de produse favorite
                </p>
            </div>
        </div>
        <div class="icon-container">
            <a href="" class="fas fa-shopping-cart icon"></a>
            <div class="tooltip">
                <p>
                    Cos de cumparaturi
                </p>
            </div>
        </div>
        <div class="icon-container">
            <a href="" class="fas fa-user icon"></a>
            <div class="tooltip">
                <p>
                    Sectiunea detalii cont
                </p>
            </div>
        </div>
    </div>
</nav>
<section class="home" id="home">
    <h1>Home</h1>
    <img src="https://wallpaperaccess.com/full/3172454.jpg" alt="" width="100%" height="500xp">
</section>
<section class="products" id="products">
    <h1>Water products</h1>
    <div class="cards-container">
        <div class="card-container">
            <div class="image-container">
                <img src="https://www.auchan.ro/public/images/h7f/h61/h00/apa-plata-aquatique-05-l-9451996479518.jpg"
                     alt="">
                <button class="fas fa-heart add-to-favorites-button"></button>
            </div>
            <div class="content-container">
                <h3>0.5L</h3>
                <div class="rating-container">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <div class="bottom-container">
                    <span>5<sup>00</sup> Lei</span>
                    <button class="add-to-checkout-button">
                        Adauga
                    </button>
                </div>
            </div>
        </div>
        <div class="card-container">
            <div class="image-container">
                <img src="https://d1lqpgkqcok0l.cloudfront.net/medias/sys_master/ha8/ha8/9098523443230.jpg" alt="">
                <button class="fas fa-heart add-to-favorites-button"></button>
            </div>
            <div class="content-container">
                <h3>1L</h3>
                <div class="rating-container">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <div class="bottom-container">
                    <span>3<sup>00</sup> Lei</span>
                    <button class="add-to-checkout-button">
                        Adauga
                    </button>
                </div>
            </div>
        </div>
        <div class="card-container">
            <div class="image-container">
                <img src="https://www.auchan.ro/public/images/h09/ha6/h00/aquatique-apa-plata-2l-8857788252190.jpg"
                     alt="">
                <button class="fas fa-heart add-to-favorites-button"></button>
            </div>
            <div class="content-container">
                <h3>2L</h3>
                <div class="rating-container">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <div class="bottom-container">
                    <span>3.5<sup>00</sup> Lei</span>
                    <button class="add-to-checkout-button">
                        Adauga
                    </button>
                </div>
            </div>
        </div>
        <div class="card-container">
            <div class="image-container">
                <img src="https://lcdn.altex.ro/media/catalog/product/B/A/BARPF1QPP5.jpg" alt="">
                <button class="fas fa-heart add-to-favorites-button"></button>
            </div>
            <div class="content-container">
                <h3>5L</h3>
                <div class="rating-container">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <div class="bottom-container">
                    <span>9<sup>00</sup> Lei</span>
                    <button class="add-to-checkout-button">
                        Adauga
                    </button>
                </div>
            </div>
        </div>
    </div>
    <a class="link" href="/app/category/mobile-phones">More products<i class="fa-solid fa-angle-right"></i></a>
</section>
<section class="services" id="services">
    <h1>Services and maintenance</h1>
    <div class="cards-container">
        <div class="card-container">
            <div class="image-container">
                <img src="https://lafantana.ro//images/650/24_deluxe.png" alt="">
                <button class="fas fa-heart add-to-favorites-button"></button>
            </div>
            <div class="content-container">
                <h3>Rent</h3>
                <div class="rating-container">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <div class="bottom-container">
                    <span>50<sup>00</sup> Lei/month</span>
                    <button class="add-to-checkout-button">
                        Adauga
                    </button>
                </div>
            </div>
        </div>
        <div class="card-container">
            <div class="image-container">
                <img src="https://lafantana.ro//images/650/24_deluxe.png" alt="">
                <button class="fas fa-heart add-to-favorites-button"></button>
            </div>
            <div class="content-container">
                <h3>Buy</h3>
                <div class="rating-container">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <div class="bottom-container">
                    <span>500<sup>00</sup> Lei</span>
                    <button class="add-to-checkout-button">
                        Adauga
                    </button>
                </div>
            </div>
        </div>
        <div class="card-container">
            <div class="image-container">
                <img src="https://static.thenounproject.com/png/255036-200.png" alt="">
                <button class="fas fa-heart add-to-favorites-button"></button>
            </div>
            <div class="content-container">
                <h3>Maintenance</h3>
                <div class="rating-container">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <div class="bottom-container">
                    <span>75<sup>00</sup> Lei/hour</span>
                    <button class="add-to-checkout-button">
                        Adauga
                    </button>
                </div>
            </div>
        </div>
        <div class="card-container">
            <div class="image-container">
                <img src="https://seeklogo.com/images/C/circle-corporate-business-logo-7123DBC088-seeklogo.com.png"
                     alt="">
                <button class="fas fa-heart add-to-favorites-button"></button>
            </div>
            <div class="content-container">
                <h3>For business</h3>
                <div class="rating-container">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <div class="bottom-container">
                    <span>100<sup>00</sup> Lei/month</span>
                    <button class="add-to-checkout-button">
                        Adauga
                    </button>
                </div>
            </div>
        </div>
    </div>
    <a class="link" href="/app/category/tablets">More services<i class="fa-solid fa-angle-right"></i></a>
</section>
<section class="about-us" id="about-us">
    <div class="container-fluid">
        <div class="row">
            <p style="color:black;">Fresh Water is an entirely domestic, privately held company, established in 1998,
                with a turnover of 170 million euro. Throughout its more than 23 years of activity, significant
                investments have been made, totalling over 250 million euro, particularly in global state-of-the-art
                technologies and equipment, with a view to obtaining products which meet the highest quality standards.
            </p>
            <h1> From About Page!</h1>
        </div>
    </div>
</section>
<section class="contact" id="contact">
    <h1>Contact</h1>
    <form id="contact_form" action="{% url '' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <label class="required" for="name">Your name:</label><br/>
            <input id="name" class="input" name="name" type="text" value="" size="30"/><br/>
            <span id="name_validation" class="error_message"></span>
        </div>
        <div class="row">
            <label class="required" for="email">Your email:</label><br/>
            <input id="email" class="input" name="email" type="text" value="" size="30"/><br/>
            <span id="email_validation" class="error_message"></span>
        </div>
        <div class="row">
            <label class="required" for="message">Your message:</label><br/>
            <textarea id="message" class="input" name="message" rows="7" cols="30"></textarea><br/>
            <span id="message_validation" class="error_message"></span>
        </div>
        <input id="submit_button" type="submit" value="Send email"/>
    </form>
</section>
<section class="footer" id="footer">
    <div class="container">
        <div class="links-container">
            <h3>Link-uri rapide</h3>
            <div class="links-group">
                <a href="#products">Products</a>
                <a href="#services">Services</a>
            </div>
            <div class="links-group">
                <a href="#about-us">About Us</a>
                <a href="#contact">Contact</a>
            </div>
        </div>
        <div class="contact-container">
            <h3>Detalii contact</h3>
            <p>suport@onlinestore.com</p>
        </div>
    </div>
    <div class="credit">Copyright © 2022 by <span>OnelineStoreTeam</span></div>
</section>
<script src="../static/js/app.js"></script>
</body>
</html>