<nav>
    <div class="logo">
        <a href="/app">
            <i class="fas fa-store"></i>
            OnlineStore
        </a>
    </div>
    <ul class="navbar">
        <li>
            <a href="#home">Home</a>
        </li>
        <li>
            <a href="#apa">Products</a>
        </li>
        <li>
            <a href="#servicii">Services</a>
        </li>
        <li>
            <a href="#about-us">About Us</a>
        </li>
        <li>
            <a href="#contact">Contact</a>
        </li>
    </ul>
    <div class="icons">
        <div class="icon-container">
            <a href="/app/favorites" class="fas fa-heart icon"></a>
            <div class="tooltip">
                <p>
                    Sectiunea de produse favorite
                </p>
            </div>
        </div>
        <div class="icon-container">
            <a href="" class="fas fa-shopping-cart icon"></a>
            <span class="number number-of-checkout-products">2</span>
            <div class="tooltip">
                <p>
                    Cos de cumparaturi
                </p>
            </div>
        </div>
        <div class="icon-container">
            <a href="" class="fas fa-user icon"></a>
            <div class="tooltip">
                <p>
                    Sectiunea detalii cont
                </p>
            </div>
        </div>
        <div class="icon-container">
            <a href="/app/logout" class="fas fa-sign-out icon"></a>
            <div class="tooltip">
                <p>
                    Iesire din aplicatie
                </p>
            </div>
        </div>
    </div>
</nav>