<div class="shopping-cart-modal" id="shopping-cart-modal">
    <div class="modal-container">
        <div class="close-button-container">
            <span class="close-button">×</span>
        </div>
        <div class="top-container">
            <span>Cos de cumparaturi</span>
            <button class="remove-all-products-button">Sterge toate produsele</button>
        </div>
        <div class="middle-container">
        </div>
        <div class="hr-container">
            <hr>
        </div>
        <div class="bottom-container">
            <div class="bottom-inner-container">
                <div class="checkout-details">
                    <div class="total-items">
                        <span>In total</span>
                        <span class="total-products">10 produse</span>
                    </div>
                    <span class="total-price">282<sup>00</sup> Lei</span>
                </div>
                <button class="confirm-button">Confirma</button>
            </div>
        </div>
        <div class="next-container">
            <form class="checkout-form">
                <div class="checkbox-address-wrapper">
                    <input type="checkbox" name="use-user-address" id="use-user-address">
                    <label for="use-user-address">Foloseste adresa adaugata in detalii cont</label>
                </div>
                <div class="form-field address-form-field">
                    <label for="address">Adresa</label>
                    <textarea rows="4" id="address" name="address" placeholder="Introdu adresa..."></textarea>
                </div>
                <div class="form-field">
                    <label for="message">Mesaj (optional)</label>
                    <textarea rows="4" id="message" name="message" placeholder="Introdu mesaj..."></textarea>
                </div>
                <div class="submit-button-wrapper">
                    <button type="submit" class="submit-button">Trimite</button>
                </div>
            </form>
        </div>
    </div>
</div>